:root {
  --main-font: "Montserrat", sans-serif;
  --main-font-color: #6b6f89;
  --title-font: "Mitr", sans-serif;
  --title-color: #2d314c;
  --subtitle-color: #8ea0f6;
  --accent-color: #fdbc58;
}

// :root {
//   --title-text-color: #212121;
//   --accent-color: #2196f3;
//   --main-text-color: #757575;
//   --dark-bg-text-color: #fff;
//   --dark-bg-color: #2f303a;
//   --dark-bg-link-text-color: rgba(255, 255, 255, 0.6);
//   --button-color: #f5f4fa;
//   --gap: 30px;
//   --icon-color: #afb1b8;
//   --main-font: "Roboto", sans-serif;
// }
